#parentArea {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

#header {
    grid-column: 2 / 3;
}

#sidebar {
    grid-row: 1 / 4;
    grid-column: 1 / 2;
}

#mainBody {
    grid-column: 2 / -2 ;
}

#footer {
    grid-row: 3 / -1;
}

#buttonRow1 {
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
}

#buttonRow2 {
    display: flex;
    flex-direction: column;
}